<div class='{{styles.panel}}'>
  <img
    src='../assets/icons/pin.svg'
    id='pin'
    alt='pin'
    class='{{styles.pin}}'
  />

  {{{input}}}

  <button class='{{styles.sendButton}}'></button>
</div>
