<div class='{{styles.errorPage}}'>
  <div class='{{styles.errorBody}}'>
    {{>TitleTemplate title=error}}
    {{>DividerTemplate text=text}}

    <a href="/chats" class='{{styles.link}}{{#if className}}{{ className }}{{/if}}'>Back to chats</a>
  </div>
</div>