.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 450px;
  padding: 16px 50px;
  margin: 0 auto;
}
