<main class='{{styles.changePassword}}'>
  {{{backButton}}}

  <section class='{{styles.changePasswordInfo}}'>
    {{#>ContainerTemplate}}
     {{{form}}}
    {{/ContainerTemplate}}
  </section>
</main>
