.profile {
  display: flex;

  .container {
    max-width: 510px;
    width: 100%;

    .infoBlock {
      margin-bottom: 60px;
      display: flex;
      flex-direction: column;
    }
  }

  .linksBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 10px;

    .logoutLink {
      padding: 10px 0;
      font-size: 13px;
      color: #ff0000;
      border: none;
      text-decoration: none;
    }
  }
}

.changeButton {
  width: 100%;
  border: none;
  font-size: 13px;
  background-color: transparent;
  color: #cacaca;
  border-bottom: 1px solid #eaeaea;
  padding: 10px 0;
  text-align: left;
  cursor: pointer;
}

.active {
  color: #fff;
}

.ptofileInfoBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
