.backButton {
  width: 64px;
  height: 100vh;
  padding: 0 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--border-light-gray);
  cursor: pointer;
  transition: 0.3s all;

  &:hover {
    background-color: var(--button-bg-dark);
  }

  & a {
    width: 28px;
    height: 28px;
    border: none;
    background-color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    background-image: url('@/app/assets/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
  }
}
