.input {
  width: 100%;
  transition: border-color 0.3s ease;
  padding: 15px 10px;
  border: 1px solid var(--text-light-gray);
  border-radius: 6px;
  font-family: Inter, sans-serif;
  background-color: transparent;
  color: var(--white);

  &:focus-visible {
    outline: solid 2px var(--outline-light-gray);
  }
}

label {
  color: var(--text-light-gray);
  line-height: 24px;
  margin-bottom: 5px;

  &[data-hasLabel='false'] label {
    display: none;
  }

  &[data-hasLabel='true'] label {
    display: block;
  }
}
