.dialogHeader {
  width: 100%;
  border-bottom: 1px solid var(--border-light-gray);

  .dialogContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 10px;
  }

  .dialogAvatar {
    width: 47px;
    height: 47px;
    background-color: var(--dark-gray);
    border-radius: 50%;
  }

  .userName {
    color: var(--white);
    font-size: 13px;
    line-height: 13px;
    font-weight: 600;
  }
}
