.dialogHeader {
  width: 100%;
  border-bottom: 1px solid #7f7f7f;

  .dialogContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 10px;
  }

  .dialogAvatar {
    width: 47px;
    height: 47px;
    background-color: #6c6c6c;
    border-radius: 50%;
  }

  .userName {
    color: #fff;
    font-size: 13px;
    line-height: 13px;
    font-weight: 600;
  }
}
