.profile {
  display: flex;

  .ptofileInfoBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
      max-width: 510px;
      width: 100%;

      .infoBlock {
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
