.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;

  .pin {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }

  .button {
    width: 28px;
    height: 28px;
    border: none;
    background-color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    background-image: url('@/app/assets/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.input {
  width: 100%;
  transition: border-color 0.3s ease;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  font-family: Inter, sans-serif;
  background-color: var(--bg-dark-gray);
  color: var(--white);

  &:focus-visible {
    outline: none;
  }
}
