.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 20px;
  margin-bottom: 14px;

  .link {
    color: var(--text-light-gray);
    font-size: 12px;
    line-height: 12px;
    text-decoration: none;
  }

  .input {
    width: 100%;
    transition: border-color 0.3s ease;
    padding: 10px 24px;
    border: none;
    border-radius: 6px;
    font-family: Inter, sans-serif;
    background-color: var(--bg-dark-gray);
    color: var(--white);

    &:focus-visible {
      outline: none;
    }
  }
}
