.chatItem {
  list-style: none;
  border-top: 1px solid #7f7f7f;
  padding: 12px 0;

  .chatItemContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .chatItemBody {
      display: flex;
      column-gap: 10px;
    }

    .chatAvatar {
      width: 47px;
      height: 47px;
      background-color: #6c6c6c;
      border-radius: 50%;
    }

    .userName {
      color: #ffffff;
    }

    .message {
      color: #999999;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 14px;

      .time {
        color: #999999;
        font-size: 9px;
        line-height: 13px;
      }

      .badge {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border-radius: 50%;
        font-size: 11px;
      }
    }
  }
}
