<main class='{{styles.profile}}'>
  <aside class='{{styles.backButton}}'>
    <a href='/chats'></a>
  </aside>

  <section class="{{styles.ptofileInfo}}">
    {{#>ContainerTemplate}}
        <div class="{{styles.infoBlock}}">
          {{>InputTemplate hasLabel=true label='Old password:' type='password' name='oldPassword' id='oldPassword' value='12313123123123' disabled='disabled'}}
          {{>InputTemplate hasLabel=true label='New password:' type='password' name='newPassword' id='newPassword'  }}
          {{>InputTemplate hasLabel=true label='Repeat new password:' type='password' name='oldPasswordRepeat' id='oldPasswordRepeat'  }}
          
        </div>
          {{>ButtonTemplate type='button' text='Change password' id='saveChangePasswordButton'}}
    {{/ContainerTemplate}}
  </section>
</main>