<div class='{{styles.panel}}'>
  <img src='../../assets/icons/pin.svg' alt='pin' class="{{styles.pin}}"/>

 {{> InputTemplate hasLabel='false' type='text' name='message' id='message' placeholder='Message' }}

 <button class="{{styles.sendButton}}"></button>
</div>