.errorPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .errorBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .link {
      text-decoration: none;
      color: var(--text-light-gray);
      font-size: 14px;
    }
  }
}
